/* Fonts */

@font-face {
    font-family: mainFontRegular;
    src: url("../fonts/Aller.ttf"), url("../fonts/Aller.eot") format("embedded-opentype"), url("../fonts/Aller.woff2") format("woff2"), url("../fonts/Aller.woff") format("woff"), url("../fonts/Aller.ttf") format("truetype"), url("../fonts/Aller.svg") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: mainFontBold;
    src: url("../fonts/Aller-Bold.TTF"), url("../fonts/Aller-Bold.eot") format("embedded-opentype"), url("../fonts/Aller-Bold.woff2") format("woff2"), url("../fonts/Aller-Bold.woff") format("woff"), url("../fonts/Aller-Bold.ttf") format("truetype"), url("../fonts/Aller-Bold.svg") format("svg");
}

@font-face {
    font-family: mainFontitalic;
    src: url("../fonts/CALIBRII.TTF");
}

@font-face {
    font-family: mainFontBolditalic;
    src: url("../fonts/CALIBRIZ.TTF");
}