/* Colors */

$colorBG:#fff;
$color2:#4EADEC;
$colorMain: #082c4c;
$color-yellow: #FFE50D;
$color-blue: #082c4c;
$colortitle: #fff;
$colortext: #5F5F5F;
$colordark-text:#757575;
$color-border: #d7d7d7;
$color-subtitle: #4EADEC;